<center>
<img src="../../img/ods_stickers.jpg" />
    
## [mlcourse.ai](mlcourse.ai) â€“ Open Machine Learning Course 
Author: Arina Lopukhova (@erynn). Edited by [Yury Kashnitskiy](https://yorko.github.io) (@yorko). This material is subject to the terms and conditions of the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license. Free use is permitted for any non-commercial purpose.

<h1><center>Assignment #1. Fall 2018</center></h1>
<h2><center>Exploratory data analysis of Olympic games with Pandas</center></h2>

__There are ten questions about [120 years of Olympic history: athletes and results](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results/version/2) dataset in this task. Your task is to fill in the missing Python code and choose answers in [this web-form](https://docs.google.com/forms/d/179HYvlF_0x435CWdu2aOtR9a3flh0YCQXXNXhXaKw2M).__

Download the file `athlete_events.csv` from [Kaggle page](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results). The dataset has the following features (copied from Kaggle):

- __ID__ - Unique number for each athlete
- __Name__ - Athlete's name
- __Sex__ - M or F
- __Age__ - Integer
- __Height__ - In centimeters
- __Weight__ - In kilograms
- __Team__ - Team name
- __NOC__ - National Olympic Committee 3-letter code
- __Games__ - Year and season
- __Year__ - Integer
- __Season__ - Summer or Winter
- __City__ - Host city
- __Sport__ - Sport
- __Event__ - Event
- __Medal__ - Gold, Silver, Bronze, or NA

In [1]:
import pandas as pd

In [2]:
# Change the path to the dataset file if needed. 
PATH = '120-years-of-olympic-history-athletes-and-results/athlete_events.csv'

In [3]:
data = pd.read_csv(PATH)
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

__1. How old were the youngest male and female participants of the 1996 Olympics?__

- 16 and 15
- 14 and 12 
- 16 and 12
- 13 and 11

In [4]:
# You code here 
data1996 = data[data['Year'] == 1996]
min_female_age = data1996[data1996['Sex'] == 'F']['Age'].min()
min_male_age = data1996[data1996['Sex'] == 'M']['Age'].min()
print(min_male_age,min_female_age)

14.0 12.0

__2. What was the percentage of male gymnasts among all the male participants of the 2000 Olympics? Round the answer to the first decimal.__

*Hint:* here and further if needed drop duplicated sportsmen to count only unique ones. 

- 0.2
- 1.5 
- 2.5
- 7.7

In [49]:
# You code here 
data2000olympics = data[data['Year'] == 2000]
unique_names = data.groupby(['Name','Sex','Sport'],as_index=False).count()[['Name','Sex','Sport']]
percentage_of_gymnasts = len(unique_names[(unique_names['Sex'] == 'M') & (unique_names['Sport'] == 'Gymnastics')]) / \
                    len(unique_names[unique_names['Sex'] == 'M']) * 100
print(round(percentage_of_gymnasts,2))

2.57

__3. What are the mean and standard deviation of height for female basketball players participated in the 2000 Olympics? Round the answer to the first decimal.__

- 178.5 and 7.2
- 179.4 and 10
- 180.7 and 6.7
- 182.4 and 9.1

In [60]:
# You code here 
female_basketball_players = data2000olympics[(data2000olympics['Sex'] == 'F') & \
                                (data2000olympics['Sport'] == 'Basketball')]
# all names are unique
mean_height = round(female_basketball_players['Height'].mean(),1)
std = round(female_basketball_players['Height'].std(),1)
print(mean_height,'and',std)

182.4 and 9.1

__4. Find a sportsperson participated in the 2002 Olympics, with the highest weight among other participants of the same Olympics. What sport did he or she do?__

- Judo
- Bobsleigh 
- Weightlifting
- Boxing

In [71]:
# You code here 
olympics2002 = data[data['Year'] == 2002]
#max_weight = olympics2002['Weight'].max()
olympics2002.loc[olympics2002['Weight'] == olympics2002['Weight'].max()][['Name','Sport','Weight','Year']]

                    Name      Sport  Weight  Year
99154  Emmanuel Hostache  Bobsleigh   123.0  2002

__5. How many times did Pawe Abratkiewicz participate in the Olympics held in different years?__

- 0
- 1 
- 2
- 3

In [84]:
# You code here 
pawe_olympcis_data = data.loc[data['Name'] == 'Pawe Abratkiewicz']
pawe_olympcis_data.groupby(['Name','Year'],as_index=False).count()[['Name','Year','Event']]
# pawe abratkiewics participated in 3 olympics held in 1992,1998 and 2002

                Name  Year  Event
0  Pawe Abratkiewicz  1992      2
1  Pawe Abratkiewicz  1998      2
2  Pawe Abratkiewicz  2002      2

__6. How many silver medals in tennis did Australia win at the 2000 Olympics?__

- 0
- 1 
- 2 
- 3

In [95]:
# You code here 
australia2000 = data2000olympics[data2000olympics['Team'] == 'Australia']
australia2000[(australia2000['Medal'] == 'Silver') & (australia2000['Sport'] == 'Tennis')]
# Australia won 2 silver medals in 2000 olympics in tennis

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
262820,131504,Todd Andrew Woodbridge,M,29.0,178.0,75.0,Australia,AUS,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Men's Doubles,Silver
262831,131511,Mark Raymond Woodforde,M,34.0,183.0,80.0,Australia,AUS,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Men's Doubles,Silver

__7. Is it true that Switzerland won fewer medals than Serbia at the 2016 Olympics? Do not consider NaN values in _Medal_ column.__ 

- Yes 
- No

In [105]:
# You code here 

switzerland_2016_medals = data[(data['Team'] == 'Switzerland') & (data['Year'] == 2016)]
serbia_2016_medals = data[(data['Team'] == 'Serbia') & (data['Year'] == 2016)]
serbia_medal_count = serbia_2016_medals[~serbia_2016_medals['Medal'].isnull()]
switzerland_medal_count = switzerland_2016_medals[~switzerland_2016_medals['Medal'].isnull()]
len(switzerland_medal_count) < len(serbia_medal_count)
print('switzerland_medal_count ',len(switzerland_medal_count))
print('serbia_medal_count ',len(serbia_medal_count))
# the answer is Yes

switzerland_medal_count  11
serbia_medal_count  54

__8. What age category did the fewest and the most participants of the 2014 Olympics belong to?__
- [45-55] and [25-35) correspondingly
- [45-55] and [15-25) correspondingly
- [35-45] and [25-35) correspondingly
- [45-55] and [35-45) correspondingly

In [114]:
# You code here 
def age_bins(x):
    if 15 < x <= 25:
        return('15-25')
    elif 25 < x <= 35:
        return('25-35')
    elif 35 < x <= 45:
        return('35-45')
    else:
        return('45-55')

In [120]:
olympics2014 = data[data['Year'] == 2014]
olympics2014['AgeBins'] = olympics2014['Age'].transform(age_bins)
olympics2014.groupby('AgeBins').count()
# fewest participants belonged to 45-55 age group
# most participants belonged to 25-35

C:\Users\Goutham\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
AgeBins,,,,,,,,,,,,,,,
15-25,2412,2412,2412,2412,2396,2254,2412,2412,2412,2412,2412,2412,2412,2412,250
25-35,2281,2281,2281,2281,2277,2227,2281,2281,2281,2281,2281,2281,2281,2281,316
35-45,184,184,184,184,184,181,184,184,184,184,184,184,184,184,28
45-55,14,14,14,14,14,11,14,14,14,14,14,14,14,14,3

__9. Is it true that there were Summer Olympics held in Lake Placid? Is it true that there were Winter Olympics held in Sankt Moritz?__

- Yes, Yes
- Yes, No
- No, Yes 
- No, No

In [130]:
# You code here 
lake_placid_seasons = data[data['City'] == 'Lake Placid']['Season'].unique()
sankt_mortiz_seasons = data[data['City'] == 'Sankt Moritz']['Season'].unique()
print(lake_placid_seasons,sankt_mortiz_seasons)
# answer is No,Yes

['Winter'] ['Winter']

__10. What is the absolute difference between the number of unique sports at the 1995 Olympics and 2016 Olympics?__

- 16
- 24
- 26
- 34

In [185]:
# You code here 
olympics1996 = data[data['Year'] == 1995]
olympics2016 = data[data['Year'] == 2016]
olympics2016['Sport'].nunique() - olympics1996['Sport'].nunique()

34